body{
 background-color: #f4f4f4;
}

#main_section{
    padding:0px
}

img{
    width:150px !important;
}

.card{
    margin-top: 30px;
    padding:10px
}

.portfolio_card{
    margin-top: 600px;
    padding:0px
}

#footer{
    margin-top: 30px;
    
    text-align: center;
}